body {
  width: 100%;
  height: 100vh;
  margin: 0 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

#description {
  word-wrap: break-word;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: auto;
  margin: 10px 0 0 0;
}

input, select, textarea {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  text-align: center;
}

fieldset {
  border: none;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

input[type='submit'] {
  background-color: rgb(0, 255, 100);
  width: 100%;
  height: 2em;
}

.radio, .checkbox {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}